<div class="hero">
  <br /><br />
  <div class="frosty col-xs-6 col-xs-offset-3 text-center">
  <br />
  <h1>Learn from the Pros</h1>
  <br />
  <h2>Hundreds of courses taught by experts!</h2>
  <br />
  <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
  <br /><br />
  </div>
</div>

<br /><br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
  	<%= image_tag("01_play.png", :alt => "test", :class => "iconsize") %><br /><br />
    <!-- <h3>Feature 1</h3> -->
    <p>Step by step video instructions ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
    </p>
  </div>

  <div class="col-sm-4">
    <%= image_tag("02_view.png", :alt => "test", :class => "iconsize") %><br /><br />
    <p>Learn the latest technologies ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
    </p>   
  </div>

  <div class="col-sm-4">
    <%= image_tag("03_coding.png", :alt => "test", :class => "iconsize") %><br /><br />
    <p>All the code-snippets, video instructions ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. 
    </p>
  </div>
</div>