@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.4em;
}

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('binding_dark.png');
}